.add-post-btn{
    margin-top: 40px;
    margin-left: 5%;
    color: white;
    background-color: black;
    padding: 20px 5%;
    border-radius: 10px ;
    font-size: 0.8em;
    float: left;
}

.add-post-btn:hover{
    background-color: rgb(39, 39, 39);
    transition: 200ms;
}   

.text-area{
    height: 250px;
    width: 90%;
    margin-left: 4.5%;
} 

.post-form{
    padding-top: 20px;
    color: aliceblue;
}

.form-box{
    margin-top: 40px;
    background-color: #000000;
    border-radius: 30px;
    margin-right: 25%;
    height: 300px;
    width: 50%;
    float: right;
}

.upload-post-btn{
    margin-top: 40px;
    margin-left: 5%;
    color: white;
    background-color: rgb(0, 185, 0);
    padding: 20px 5%;
    border-radius: 10px ;
    font-size: 0.8em;
    float: left;
}

.upload-post-btn:hover{
    background-color: rgb(0, 149, 20);
    transition: 500ms;

}   